@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@450&family=Ubuntu&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

p {
    font-family: "Ubuntu";
    font-weight: lighter;
    color: #8f8f8f;
}

/* Heading */

/* Sections */
.coloured-section {
    background-color: coral;
    color: white;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
    font-size: 1rem;
}

.navbar-brand {
    font-weight: bold;
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Ubuntu";
}

/* Title */

#title {
    overflow: hidden;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
    border-radius: 1rem;
}

/* Features Section */

#whatWeDo {
    padding-top: 7%;
    padding-bottom: 7%;
}

.feature {
    border-radius: 1rem;
    background-color: whitesmoke;
    margin: 1.25rem;
}
